
.icon-gplus-1:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */